<div>
  <div class="containerForm">

      <h1>Creá un producto nuevo</h1>
      <input type="text" placeholder="Título" name="productTitle" id="productTitle" />
      <input type="text" placeholder="Descripción" name="productDescription" id="productDescription" />
      <input type="number" placeholder="Precio" name="productPrice" id="productPrice" />
      <input type="number" placeholder="Código" name="productCode" id="productCode" />
      <input type="text" placeholder="Categoría" name="productCategory" id="productCategory" />
      <button id="addProduct">Enviar</button>
   
  </div>
</div>